
#chat-view {
  height: 100%;
  display: flex;
  flex-direction: column;

  > h3 {
    margin-top: 0.75em;
    margin-bottom: 0;
  }
}

#message-list {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 20px 0;

  .message {
    background-color: var(--color-background-darker);
    border: 1px solid var(--color-border);
    margin-right: 10px;
    padding: 5px;

    &+ .message {
      margin-top: 10px;
    }

    .message-metadata {
      display: flex;
      flex-direction: row;

      .message-sender {
        font-weight: bold;
        flex: 1 auto;
      }

      &:hover > .message-date {
        display: block;
      }

      .message-date {
        font-size: .8em;
        display: none;
      }
    }

    .message-body {
      white-space: pre-line;
    }
  }
}

#input-area {
  flex-shrink: 0;

  textarea {
    height: 150px;
    background-color: var(--color-background-darker);
    border: 1px solid var(--color-border);
    color: var(--color-main-text);

    &:focus {
      border-color: var(--color-border-active);
    }
  }
}
