a {
  color: var(--color-text-link);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
    color: var(--color-text-link);
  }
}

svg[class^="icon"] {
  stroke: currentcolor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: 1em;
  height: 1em;
  // margin: 0.4em;

  // height: 50%;
  // width: 50%;
  // left: 50%;
  // top: 50%;
  // position: absolute;
  // transform: translate(-50%, -50%);
}

select {
  height: 10em;
}

form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

}

.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  color: var(--color-main-text);
  background-color: var(--color-background-blur);
  border: 1px solid rgb(112, 111, 110);
  margin: 0;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  // position: relative;
  // text-transform: unset;
  transition: background-color 0s;
  transition: border-color 0.2s ease;

  &:focus {
    color: var(--color-main-text);
    background-color: var(--color-border-active);
    border: 1px solid var(--color-border-active);
    transition: background-color 0s;
  }

  &:hover {
    color: var(--color-main-text);
    background-color: var(--color-background-blur);
    border-color: var(--color-border-active);
    transition: border-color 0.2s ease;
  }

  &.default {
    background-color: var(--color-background-darker);

    &:hover {
      color: var(--color-main-text);
      background-color: var(--color-background-darker);
      border-color: var(--color-border-active);
    }

    &:focus {
      color: var(--color-main-text);
      background-color: var(--color-border-active);
      border: 1px solid var(--color-border-active);
    }
  }

  &.icon {
    padding: 0 10px;
    // line-height: 50%;

    svg[class^="icon"] {
    }
  }

  &.pill, &.rpill {
    border-radius: 100px;
    font-size: 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    svg[class^="icon"] {
      vertical-align: middle;
      display: inline-block;
      margin: 0;
    }

    span {
      vertical-align: middle;
      display: inline-block;
      margin-left: 5px;
    }
  }

  &.round {
    border-radius: 50%;
    text-align: center;
    // line-height: 100px;
    vertical-align: middle;
    // padding: 30px;
    height: 3.5em;
    width: 3.5em;
    display: inline-flex;
    align-self: center;

    svg[class^="icon"] {
      display: block;
      margin: auto;
      height: 2em;
      width: 2em;
      // height: 50%;
      // width: 50%;
      // left: 50%;
      // top: 50%;
      // position: absolute;
      // transform: translate(-50%, -50%);
    }
  }
}

li {
  list-style-type: none;
}

[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], textarea, select {
  background-color: var(--color-background-darker);
  color: var(--color-main-text);
  border: 1px solid var(--color-border);

  &:focus, &:hover {
    border-color: var(--color-border-active);
    transition: border-color 0.2s ease;
  }
}

label.icon-label {
  position: relative;
  margin-bottom: 1.5rem;
  font-weight: inherit;

  svg.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  input {
    margin-bottom: 0;
    padding-left: 2em;
  }
}

@include media("<=small") {
  .button,
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {

    &.rpill {
      line-height: 37px;

      svg[class^="icon"] {
        // display: block;
        margin: auto;
        height: 1em;
        width: 1em;
      }
      span {
        display: none;
      }
    }
  }

}

@include media(">small") {
}
