html {
  scrollbar-color: hsla(0,0%,100%,.2) transparent;
}

body {
  color: var(--color-main-text);
  overflow: hidden;
}

* {
  transition: background-color 0.5s ease;
  scrollbar-width: thin;
}

#body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-main-text);

  background-color: var(--color-main-background);
}

main {
  min-height: 0;
}

#content {
  flex-grow: 1;
}

#debug nav .toggle:before {
  border: none;
}

#content {
  padding: 0 20px;
}

footer {
  display: none;
  font-size: 0.8em;
  text-align: right;
  padding: 15px;
  background-color: var(--color-background-darker);
  border-top: 1px solid var(--color-border);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-background-darker);
} 

::-webkit-scrollbar-thumb {
  background-color: var(--color-background-hover);
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-element);
}

$sidebar_width: 250px;
$content_ofset: .5em;
$breakpoints: (small: 684px, large: 1024px);

@include media("<=small") {
  html,
  body {
    // margin:0;
    // overflow-x:hidden;
  }

  main {
    // height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  #sidebar {
    // position: absolute;
    // left: 0;
    // width: $sidebar_width;
    // height: 100%;
    // top: 60px; //FIXME
    // margin-top: 60px;
  }

  #sidebar.visible + #content {
    min-width: 500px;
  }

  #content {
    // margin-left: $sidebar_width;
    // margin-right: -$sidebar_width;
    // height: 100%;
  }
}

@include media(">small", "<=large") {
  $sidebar_width: 250px;
  $content_ofset: .5em;

  main {
    display: flex;
    flex-direction: row;
  }
}

@include media(">large") {
  main {
    display: flex;
    flex-direction: row;
  }
}
