
#sidebar {
  // padding: 0;
  // background-color: #d6dfe8;
  background-color: var(--color-background-darker);
  overflow-y: auto;
  // min-width: 250px;
  // width: $sidebar_width;
  width: 0;
  padding: 0;
  border-right: 1px solid var(--color-border);
  flex-shrink: 0;
  overflow-x: hidden;
  transition: width 0.5s ease;
  white-space: nowrap;
  // display: none;

  &.visible {
    // display: block;
    width: $sidebar_width;
  }

  > .button {
    margin: 10px 25px;
  }

  > ul > li {
    // border-bottom: 1px solid black;
    padding: 0 10px;
  }

  a {
    font-weight: normal;
    color: var(--color-main-text);

    &:hover {
      opacity: 1;
    }
  }

  ul {
    margin: 0;

    li {
      margin: 0;

      .chat_link, .group_link {
        padding: 10px;
        margin: 0 -10px;

        &:hover {
          background-color: var(--color-background-hover);
        }

        &.active {
          background-color: var(--color-primary-element);
        }
      }

      .group_link {
        .create_chat_link {
          float: right;

          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      .chat_link {
        padding-left: 30px;
      }
    }
  }
}
